{% extends 'main.html.twig' %}

{% block title %}{{ trailers | length }} iTunes Movie trailers{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-4">{{ trailers | length }} iTunes Movie trailers</h1>
        <table class="table table-bordered">
            <thead>
            <tr>
                <td>Title</td>
                <td>Poster</td>
            </tr>
            </thead>
            <tbody>
            {% for trailer in trailers %}
                <tr>
                    <td><a href="/show/{{ trailer.id }}">{{ trailer.title }}</a></td>
                    <td><img src="{{ trailer.link }}{{ trailer.getImgUrlConst }}" alt=""></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
