{% extends 'main.html.twig' %}

{% block title %}{{ trailer.title }}{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-4">{{ trailer.title }}</h1>
        <a href="/">Back to list</a>
        <table class="table table-bordered">
            <tr>
                <td>Number</td>
                <td>{{ trailer.id }}</td>
            </tr>
            <tr>
                <td>Poster</td>
                <td><img src="{{ trailer.link }}{{ trailer.getImgUrlConst }}" alt=""></td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ trailer.description|raw }}</td>
            </tr>
            <tr>
                <td>Link</td>
                <td><a href="{{ trailer.link }}" target="_blank">{{ trailer.link }}</a></td>
            </tr>

        </table>
    </div>
{% endblock %}
